@model Shop_auth.ViewModels.BasketsViewModel

@{
    ViewBag.Title = "Mój koszyk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mój koszyk</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.List.FirstOrDefault().Cover)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.List.FirstOrDefault().Title)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.List.FirstOrDefault().Accepted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.List.FirstOrDefault().BuyTime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.List)
    {
        <tr>
            <td>
                @if (item.Cover != null)
                {
                    <img src="data:image;base64,@Convert.ToBase64String(item.Cover)" height="150" width="110" />
                }
                else
                {
                    <img src="/Pliki/image_404.png" alt="" height="110" width="150" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Accepted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuyTime)
            </td>
            <td>
                @if (!item.Accepted)
                {
                    @Html.ActionLink("Zatwierdź", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-default btn-lg" })
                    @Html.ActionLink("Szczegóły", "Details", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-default btn-lg" })
                    @Html.ActionLink("Anuluj", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-default btn-lg" })
                }
                else
                {
                    @Html.ActionLink("Szczegóły", "Details", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-default btn-lg" })
                }

            </td>
        </tr>
    }

</table>
