@model Shop_auth.ViewModels.BooksViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuń</h2>

<h3>Czy chcesz usunąć książkę: "@Html.DisplayFor(model => model.Details.Title)" z bazy danych?</h3>
<div>
    @if (Model.Details.Cover != null)
    {
        <img src="data:image;base64,@Convert.ToBase64String(Model.Details.Cover)" height="300" width="220" />
    }
    else
    {
        <img src="/Pliki/image_404.png" alt="" height="220" width="300" />
    }
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Details.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details.Cover)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details.ReleaseDate)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Wróć", "Index")
        </div>
    }
</div>
