@model Shop_auth.ViewModels.BooksViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.List.FirstOrDefault().Cover)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.List.FirstOrDefault().Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.List.FirstOrDefault().Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.List.FirstOrDefault().Title)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.List.FirstOrDefault().ReleaseDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.List)
    {
        <tr>
            <td>
                @if (item.Cover != null)
                {
                    <img src="data:image;base64,@Convert.ToBase64String(item.Cover)" height="110" width="150" />
                }
                else
                {
                    <img src="/Pliki/image_404.png" alt="" height="110" width="150" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
